Arpeggio==2.0.0
attrs==22.2.0
dill==0.3.6
exceptiongroup==1.1.0
grpcio==1.50.0
iniconfig==2.0.0
Jinja2==3.1.2
linecache2==1.0.0
MarkupSafe==2.1.2
packaging==23.0
parver==0.4
pluggy==1.0.0
protobuf==4.21.12
pulumi==3.52.0
pulumi-aws==5.27.0
pytest==7.2.1
PyYAML==6.0
semver==2.13.0
six==1.16.0
tomli==2.0.1
traceback2==1.4.0
unittest2==1.1.0
